@import '../partials/partials.scss';

.anger {
    width: 100vw;
    height: 100%;
    padding: 0 $rem-16 0 $rem-16;
    @include tablet {
        height: 100%;
    }
    @include desktop-small {
        padding: 0 $rem-24 0 $rem-24;
    }
    @include desktop {
        height:100%;
        padding: 0 $rem-48 0 $rem-48;
    }
    &__wrap {
        @include sizing(100%, 100%);
        @include flex(row, center, "");
        transform: translateY(100%);
        opacity: 0;
        flex-wrap: wrap;
        padding-top: $rem-16;
        @include desktop-small {
            @include sizing(102%, 100%);
            justify-content: space-between;
        }
        @include desktop {
            @include sizing(103%, 100%);
            justify-content: space-between;
        }
    }
    &__header-ctn {
        transform: translateX(-100%);
        opacity: 0;
        @include flex(row, center, center);
        @include sizing(100%, 8vw);
        margin-bottom: $rem-24;
    }
    &__header {
        font-size: $rem-18;
        font-weight: 600;
        @include tablet {
            font-size: $rem-24;
        }
    }
    &__card {
        border: 1px solid #AFAFAF;
        margin-bottom: $rem-32;
        width: 90%;
        max-height: 175vw;
        position: relative;
        border-radius: 22px;
        @include mobile-only {
            height: 560px;
        }
        @include tablet {
            @include sizing(51%, 560px);
        }
        @include desktop-small {
            @include sizing(30%, 575px);
        }
        @include desktop {
            @include sizing(30%, 585px);
        }
    }
    &__card-content-ctn {
        padding: $rem-16;
        overflow-wrap: break-word;
        
    }
    &__img {
        width: 100%;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
    &__type-ctn {
        @include flex(row, space-between, center);
        width: 38%;
        margin-bottom: 1rem;
        @include tablet {
            width: 22%;
        }
        @include desktop-small {
            width: 29%;
        }
        @include desktop {
            width: 26%;
        }
    }
    &__type {
        font-weight: 600;
        color: #0095FF;
    }
    &__card-title {
        font-size: $rem-18;
        margin-bottom: $rem-16;
        font-weight: 700;
    }
    &__card-desc {
        font-size: 0.775rem;
        margin-bottom: 1rem;
        line-height: 1.15rem;
        position: relative;
        padding-bottom: 20px;
        font-family: 'Quicksand', sans-serif;
        font-weight: 600;
        @include tablet {
            font-size: 0.72rem;
        }
        @include desktop-small {
            font-size: 0.875rem;
        }
        @include desktop {
            font-size: $rem-14;
        }
    }
    &__resource-link {
        position: absolute;
        bottom: 17px;
        color: #0095FF;
        @include desktop-small {
            font-size:0.875rem;
        }
        @include desktop {
            font-size:0.9rem;
        }
    }
}