@import '../partials/partials.scss';

.emotions {
    height: 100%;
    @include flex(column, "", center);
    &__wrap {
        
        @include sizing(100%, 100%);
        @include flex(row, center, "");
        flex-wrap: wrap;
        padding: 0 $rem-16 0 $rem-16;
        @include tablet {
            padding: 0 $rem-24 0 $rem-24;
        }
        @include desktop-small {
            @include flex(row, space-around, "");
            padding: $rem-32 $rem-48 $rem-32 $rem-48;
        }
        @include desktop {
            @include flex(row, space-around, "");
            padding: $rem-32 $rem-48 $rem-32 $rem-48;
        }
    }
    &__head {
        transform: translateX(-100%);
        opacity: 0;
        font-size: $rem-24;
        font-weight: 700;
        margin-bottom: $rem-24;
    }
    &__card-link {
        opacity: 0;
        transform: translateY(100%);
        @include sizing(60%, 70vw);
        @include flex(row, center, center);
        background-color: #ffffff;
        margin-bottom: 1rem;
        border-radius: 22px;
        z-index: 1;
        position: relative;
        @include tablet {
            @include sizing(51%, 50vw);
        }
        @include desktop-small {
            @include sizing(30%, 30vw);
        }
        @include desktop {
            @include sizing(30%, 30vw);
        }
    }
    &--anxiety {
        background-image: url('./HomePageAssets/RB_Cards1.png');
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        transition: all .3s ease-in-out;
        transition-property: box-shadow, display;
        @include desktop-small {
            &:nth-of-type(1):hover {
                background-color: white;
                background-image: none !important;
                -moz-box-shadow: 10px 21px 48px -15px rgba(0,0,0,0.75);
                box-shadow: 10px 21px 48px -15px rgba(0,0,0,0.75);
            }
            &:nth-of-type(1):hover>.emotions__card-title-ctn{
                display: none;
            }
            &:nth-of-type(1):hover>.emotions__card-desc{
                display: flex;
                position: absolute;
                text-align: center;
            }
        }
        @include desktop {
            @include sizing(30%, 30vw);
            &:nth-of-type(1):hover {
                background-color: #e8f7fc;
                background-image: none !important;
                -moz-box-shadow: 10px 21px 48px -15px rgba(0,0,0,0.75);
                box-shadow: 10px 21px 48px -15px rgba(0,0,0,0.75);
            }
            &:nth-of-type(1):hover>.emotions__card-title-ctn{
                display: none;
            }
            &:nth-of-type(1):hover>.emotions__card-desc{
                display: flex;
                position: absolute;
                text-align: justify;
                text-justify: inter-word;
                font-size: $rem-16;
                font-family: 'Quicksand', sans-serif;
                font-weight: 600;
                line-height: $rem-20;
                width:80%;
            }
        }
    }
    
    &__card-desc{
        display:none;
    }
    &--anger {
        background-image: url('./HomePageAssets/RB_Cards2.png');
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        transition: all .3s ease-in-out;
        transition-property: box-shadow, display;
        @include desktop-small {
            &:nth-of-type(2):hover {
                background-color: #F2E8FC;
                background-image: none !important;
                -moz-box-shadow: 10px 21px 48px -15px rgba(0,0,0,0.75);
                box-shadow: 10px 21px 48px -15px rgba(0,0,0,0.75);
            }
            &:nth-of-type(2):hover>.emotions__card-title-ctn{
                display: none;
            }
            &:nth-of-type(2):hover>.emotions__card-desc{
                display: flex;
                position: absolute;
                text-align: center;
            }
        }
        @include desktop {
            @include sizing(30%, 30vw);
            &:nth-of-type(2):hover {
                background-color: #F2E8FC;
                background-image: none !important;
                -moz-box-shadow: 10px 21px 48px -15px rgba(0,0,0,0.75);
                box-shadow: 10px 21px 48px -15px rgba(0,0,0,0.75);
            }
            &:nth-of-type(2):hover>.emotions__card-title-ctn{
                display: none;
            }
            &:nth-of-type(2):hover>.emotions__card-desc{
                display: flex;
                position: absolute;
                text-align: justify;
                text-justify: inter-word;
                font-size: $rem-16;
                font-family: 'Quicksand', sans-serif;
                font-weight: 600;
                line-height: $rem-20;
                width:80%;
            }
        }
    }
    &--depression {
        background-image: url('./HomePageAssets/RB_Cards3.png');
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        transition: all .3s ease-in-out;
        transition-property: box-shadow, display;
        @include desktop-small {
            &:nth-of-type(1):hover {
                background-color: #F2DAFE;
                background-image: none !important;
                -moz-box-shadow: 10px 21px 48px -15px rgba(0,0,0,0.75);
                box-shadow: 10px 21px 48px -15px rgba(0,0,0,0.75);
            }
            &:nth-of-type(1):hover>.emotions__card-title-ctn{
                display: none;
            }
            &:nth-of-type(1):hover>.emotions__card-desc{
                display: flex;
                position: absolute;
                text-align: center;
            }
        }
        @include desktop {
            @include sizing(30%, 30vw);
            &:nth-of-type(3):hover {
                background-color: #F2DAFE;
                background-image: none !important;
                -moz-box-shadow: 10px 21px 48px -15px rgba(0,0,0,0.75);
                box-shadow: 10px 21px 48px -15px rgba(0,0,0,0.75);
            }
            &:nth-of-type(3):hover>.emotions__card-title-ctn{
                display: none;
            }
            &:nth-of-type(3):hover>.emotions__card-desc{
                display: flex;
                position: absolute;
                text-align: justify;
                text-justify: inter-word;
                font-size: $rem-16;
                font-family: 'Quicksand', sans-serif;
                font-weight: 600;
                line-height: $rem-20;
                width:80%;
            }
        }
    }
    &__card {
        @include sizing(100%, 100%);
        @include flex(column, center, center);
        z-index: 1;
        position: relative;
    }
    &__card-title-ctn {
        @include sizing(70%, 50px);
        @include flex(row, center, center);
        background-color: 	#232b2b;
        z-index: 3;
        border-radius: 5px;
        position: absolute;
    }
    &__card-title {
        z-index: 3;
        color: #ffffff;
        font-size: $rem-16;
        font-weight: 700;
        font-style: italic;
        letter-spacing: .1rem;
        @include tablet {
            font-size: $rem-18;
            letter-spacing: $rem-10;
            text-transform: uppercase;
        }
    }
}