@import '../partials/partials.scss';

.emotions {
    height: 100%;
    @include flex(row, center, "");
    &__wrap {
        @include sizing(100%, 100%);
        @include flex(row, center, "");
        flex-wrap: wrap;
        padding: 0 $rem-16 0 $rem-16;
        @include tablet {
            padding: 0 $rem-24 0 $rem-24;
        }
        @include desktop-small {
            @include flex(row, space-around, "");
        }
        @include desktop {
            @include flex(row, space-around, "");
            padding: 0 $rem-48 0 $rem-48;
        }
    }
    &__card-link {
        @include sizing(60%, 70vw);
        @include flex(row, center, center);
        background-color: #ffffff;
        margin-bottom: 1rem;
        border-radius: 22px;
        z-index: 1;
        position: relative;
        @include tablet {
            @include sizing(51%, 50vw);
        }
        @include desktop-small {
            @include sizing(30%, 30vw);
        }
        @include desktop {
            @include sizing(30%, 30vw);
        }
    }
    &--anxiety {
        background-image: url('./HomePageAssets/anxiety-card-img.jpg');
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }
    &--anger {
        background-image: url('./HomePageAssets/anger-card-img.jpg');
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }
    &--depression {
        background-image: url('./HomePageAssets/depression-card-img.jpg');
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }
    &__card {
        @include sizing(100%, 100%);
        @include flex(column, "", center);
        z-index: 1;
        position: relative;
    }
    &__card-title-ctn {
        @include sizing(70%, 50px);
        @include flex(row, center, center);
        background-color: 	#232b2b;
        z-index: 3;
        border-radius: 5px;
        position: absolute;
    }
    &__card-title {
        z-index: 3;
        color: #ffffff;
        font-size: $rem-16;
        font-weight: 700;
        font-style: italic;
        letter-spacing: .1rem;
        @include tablet {
            font-size: $rem-18;
            letter-spacing: $rem-10;
            text-transform: uppercase;
        }
    }
}