@import '../partials/partials.scss';

.hero {
    @include sizing(100%, 100vw);
    margin-top: $rem-8;
    margin-bottom: $rem-32;
    background-image: url('./HeroAssets/hero-bg.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    @include tablet {
        @include sizing(100%, 55vw);
        margin-top: 0;
    }
    @include desktop {
        height: 42vw;
    }
    &__wrap {
        @include flex(row, flex-start, center);
        padding: 0 $rem-16 0 $rem-16;
        position: relative;
        @include sizing(100%, 100%);
            @include tablet {
                padding: 0 $rem-24 0 $rem-24;
            }
            @include desktop {
                padding: 0 $rem-48 0 $rem-48;
            }
        }

    &__text-ctn {
        transform: translatex(-100px);
        width: 96%;
        opacity: 0;
        @include desktop-small {
            @include flex(column, "", "");
            width: 100%;
        }
        @include desktop {
            width: 84%;
        }
    }    
    &__header {
        font-size: 1.8rem;
        font-weight: 900;
        width:85%;
        line-height: 2.5rem;
        letter-spacing: .1rem;
        
            @include tablet {
                font-size: $rem-48;
                line-height: $rem-48;
                width: 62%;
            }
            @include desktop-small {
                font-size: $rem-64;
                line-height: $rem-56;
                width: 50%;
            }
            @include desktop {
                font-size: $rem-68;
                line-height: $rem-64;
                width: 50%;
            }
        }
        &__desc {
            padding-top: $rem-16;
            font-size: $rem-14;
            width: 56%;
            line-height: 1.3rem;
            @include tablet {
                padding: $rem-24 0 0 .2rem;
            }
            @include desktop-small{
                width: 76%;
                padding: $rem-32 0 0 .2rem;
                font-size: $rem-16;
            }
            @include desktop {
                padding: $rem-32 0 0 .2rem;
                font-size: $rem-18;
            }
        }
        &__scroll-ctn {
            display: none;
            @include tablet{
                display: none;
            }
            @include desktop-small {
                @include flex(column, center, center);
                position: absolute;
                left: 46%;
                bottom: 3%;
            }
            @include desktop{
                @include flex(column, center, center);
                position: absolute;
                left: 46%;
                bottom: 3%;
            }
        }
        &__scroll-text{
            opacity: 0;
        }
        &__arrow {
            opacity: 0;
            padding-top: $rem-10;
        }
    }