@import '../partials/partials.scss';

.hero {
    @include sizing(100%, 100vw);
    margin-top: $rem-8;
    margin-bottom: $rem-32;
    background-image: url('./HeroAssets/hero-bg.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    @include tablet {
        @include sizing(100%, 55vw);
        margin-top: 0;
    }
    @include desktop {
        height: 40vw;
    }
    &__wrap {
        @include flex(row, flex-start, center);
        padding: 0 $rem-16 0 $rem-16;
        position: relative;
        @include sizing(100%, 100%);
            @include tablet {
                padding: 0 $rem-24 0 $rem-24;
            }
            @include desktop {
                padding: 0 $rem-48 0 $rem-48;
            }
        }
    &__header {
        font-size: $rem-32;
        font-weight: 900;
        width:85%;
        transform: translatex(-100px);
        line-height: 2.5rem;
        letter-spacing: .1rem;
        opacity: 0;
            @include tablet {
                font-size: $rem-48;
                line-height: 3.5rem;
                width: 62%;
            }
            @include desktop-small {
                font-size: $rem-64;
                line-height: 5.5rem;
                width: 50%;
            }
            @include desktop {
                font-size: $rem-64;
                line-height: 5.5rem;
                width: 50%;
            }
        }
        &__scroll-ctn {
            display: none;
            @include tablet{
                display: none;
            }
            @include desktop-small {
                @include flex(column, center, center);
                position: absolute;
                left: 50%;
                bottom: 3%;
            }
            @include desktop{
                @include flex(column, center, center);
                position: absolute;
                left: 50%;
                bottom: 3%;
            }
        }
        &__scroll-text{
            opacity: 0;
        }
        &__arrow {
            opacity: 0;
            padding-top: $rem-10;
        }
    }