@import '../partials/partials.scss';

.header {
  &__wrap {
      @include flex(row, center, "");
      width: 100%;
      padding:$rem-16;
      flex-wrap: wrap;
      @include tablet {
          padding-left: $rem-24;
          padding-right: $rem-24;
          flex-wrap: nowrap;
          align-items: center;
          justify-content: space-between;
      }
      @include desktop {
          padding-right: $rem-48;
          padding-left: $rem-48;
      }
  }
  &__logo {
      @include tablet {
          @include sizing(50%, 55px);
      }
  }
    &__logo-img {
        @include sizing(300px, 50px);
        margin-bottom: $rem-13;
    }
    &__nav {
        @include sizing(100%, "");
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        @include tablet {
            @include sizing(40%, "");
            justify-content: flex-end;
        }
    }
    &__nav-link {
        font-weight: 700;
        text-transform: uppercase;
        color: #323232;
        letter-spacing: .15rem;
        &::after {
            content: '';
            display: block;
            width: 0%;
            margin-top: 5px;
            height: 2px;
            transition: width .3s ease-in-out;
            background-color: #000;
        }
        &:hover::after {
            width: 98%;
            background-color: #000;
            transition: width .3s ease-in-out;
        }
        @include tablet {
            font-size: .8rem;
            margin-left: 3rem;
        }
        @include desktop-small {
            font-size: $rem-20;
        }
        @include desktop {
            font-size: $rem-20;
        }
    }
}