@import '../partials/partials.scss';

.journal {
    height: 100%;
    &__ctn {
        @include flex(row, center, "");
        flex-wrap: wrap;
        @include desktop-small {
            height:100%;
            justify-content: space-around;
            padding-left: $rem-24;
            padding-right: $rem-24;
            padding-top: $rem-32;
        }
        @include desktop{
            height:100%;
            justify-content: space-around;
            padding-left: $rem-24;
            padding-right: $rem-24;
            padding-top: $rem-32;
        }
    }
    &__card {
        @include flex(column, center, center);
        @include sizing(90%, 300px);
        // width:90%;
        // height: 300px;
        border-radius: 15px;
        background-image: url('./JournalAssets/notesTop.png');
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        margin-bottom: $rem-24;
        
        @include tablet {
            width: 51%;
        }
        @include desktop-small{
            width: 30%;
        }
        @include desktop{
            width: 30%;
        }
    }
    &__content-ctn {
        @include sizing(85%, 85%);
        border-radius: 15px;
        background-color: #ffffff;
        padding: $rem-16;
        max-height: 700px;
        overflow-y: scroll;
        position: relative;
        &::-webkit-scrollbar {
            display: none;
          }  
    }
    &__date {
        color: #0095FF;
        margin-bottom: $rem-16;
    }
    &__title {
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: .01rem;
        text-decoration: underline;
        margin-bottom: $rem-16;
    }
    &__entry {
        font-family: 'Quicksand', sans-serif;
        line-height: $rem-20;
    }
}

.loading {
    height: 100vh;
    @include flex(column, flex-start, center);
    padding: $rem-48 $rem-16 0 $rem-16;
    @include tablet {
        padding: $rem-48 $rem-24 0 $rem-24;     
    }
    &__text {
        text-align: center;
        line-height: $rem-24;
        @include tablet {
            line-height: $rem-32;
            width: 80%;
            font-size: $rem-24;
        }
        @include desktop-small {
            font-size: $rem-32;
            line-height: $rem-48;
        }
        @include desktop{
            font-size: $rem-32;
            line-height: $rem-48;
        }
    }
}